guidelines.md
biobb_wf_cmip/notebooks/log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_cmip/notebooks/*-*-*-*-*/
biobb_wf_cmip/notebooks/*.pdb
biobb_wf_cmip/notebooks/gridout
biobb_wf_cmip/notebooks/*.png
biobb_wf_cmip/notebooks/*.gif
biobb_wf_cmip/notebooks/*.cube
biobb_wf_cmip/notebooks/*.log
biobb_wf_cmip/notebooks/*.out
biobb_wf_cmip/notebooks/*.frcmod
biobb_wf_cmip/notebooks/*.inpcrd
biobb_wf_cmip/notebooks/*.lib
biobb_wf_cmip/notebooks/*.prmtop
biobb_wf_cmip/notebooks/*.json
biobb_wf_cmip/notebooks/*.7
biobb_wf_cmip/notebooks/restart
biobb_wf_cmip/notebooks/*.rst
biobb_wf_cmip/notebooks/*.crd
biobb_wf_cmip/notebooks/*.web.ipynb
biobb_wf_cmip/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb

# MACOSX
.DS_Store
.AppleDouble
.LSOverride
